<% provide(:title, "Rediger klub") %>

<div class="row">
  <div class="span6 offset1">
    <%= form_for(@club) do |f| %>
      <%= render 'shared/error_messages', :update => @club %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :number_of_tables %>
      <%= f.text_field :number_of_tables %>

      <%= f.label :phone, "Tlf. nr." %>
      <%= f.text_field :phone %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :web_page, "Hjemmeside" %>
      <%= f.text_field :web_page %>

      <%= f.submit "Gem ændringer", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>