<% provide(:title, @club.name) %>
<p><strong>Navn:</strong> <%= @club.name %><br>
<strong>Adresse:</strong> <%= @club.address %><br>
<strong>Antal borde: </strong> <%= @club.number_of_tables %><br></p>

<p>
<% if @club.phone && @club.phone.length > 0 %>
<strong>Tlf. nr.:</strong> <%= @club.phone %><br>
<% end %>
<% if @club.email && @club.email.length > 0 %>
<strong>Email:</strong> <%= link_to @club.email, "mailto:#{@club.email}" %><br>
<% end %>
<% if @club.web_page && @club.web_page.length > 0 %>
<strong>Hjemmeside: </strong> <%= link_to @club.web_page, @club.web_page %><br>
<% end %>
</p>

<br>
<h3>Spillere</h3>

<table>
<tr>
<td width="350px">
<table class="table table-condensed table-striped table-bordered">
<thead>
	<tr>
		<th>
			Navn
		</th>
		<th>
			Rangliste placering
		</th>
	</tr>
</thead>
<tbody>
	<% @first_half.each do |player| %>
		<tr>
			<td>
				<%= link_to(player.name, player) %>
			</td>
			<td>
				<%= player.position %>
			</td>
		</tr>	
	<% end %>
</tbody>
</table>
</td>
<% if !@second_half.empty? %>
<td width="350px" valign="top">
	<table class="table table-condensed table-striped table-bordered">
<thead>
	<tr>
		<th>
			Navn
		</th>
		<th>
			Rangliste placering
		</th>
	</tr>
</thead>
<tbody>
	<% @second_half.each do |player| %>
		<tr>
			<td>
				<%= link_to(player.name, player) %>
			</td>
			<td>
				<%= player.position %>
			</td>
		</tr>	
	<% end %>
</tbody>
</table>
</td>
<% end %>
</tr>
</table>

<% if !@tournaments.empty? %>
<h3>Turneringer</h3>
<table class="table table-condensed table-striped table-bordered">
<thead>
	<tr>
		<th>
			Navn
		</th>
		<th>
			Startdato
		</th>
		<th>
			Finaledato
		</th>
	</tr>
</thead>
<tbody>
	<% @tournaments.each do |tour| %>
		<tr>
			<td>
				<%= link_to(tour.name, tour) %>
			</td>
			<td>
				<%= tour.start_date %>
			</td>
			<td>
				<%= tour.final_date %>
			</td>
		</tr>	
	<% end %>
</tbody>
</table>
<% end %>