<% provide(:title, "Log ind") %>
<h1>Log ind</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label 'Brugernavn eller email' %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log ind", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Ny bruger? <%= link_to "Registrer dig nu!", signup_path %></p>
  </div>
</div>