<% provide(:title, "Log ind") %>

<div class="row">
  <div class="span6 offset1">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label 'Brugernavn eller email' %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log ind", class: "btn btn-large btn-primary" %>
    <% end %>
    <p>Glemt password? <%= link_to "Klik her!",  new_password_reset_path %></p>
    <p>Ny bruger? <%= link_to "Registrer dig nu!", signup_path %></p>
  </div>
</div>