<% provide(:title, "Rediger bruger") %>
<h1>Opdater dine brugeroplysninger</h1>

<div class="row">
  <div class="span6 offset1">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :update => @user %>

      <%= f.label :username, "Brugernavn" %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Bekræft password" %>
      <%= f.password_field :password_confirmation %>

     

      <%= f.submit "Gem ændringer", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>