<% provide(:title, 'Opret bruger') %>

<div class="row">
  <div class="span6 offset1">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', :update => @user %>
      
      <%= f.label :username, "Brugernavn" %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label 'Vælg dig selv fra listen' %>
      <% if User.all.count > 0
          players = Player.find(:all, :conditions => ['id not in (?)', Player.joins(:user)]).sort_by(&:name)
        else
          players = Player.all.order(:name)
        end
        %>
      <%= f.collection_select :player_id, players, :id, :name, include_blank: true %>

      <p>(Hvis ikke du er at finde på listen, så skriv til <a href="mailto:daniel@snooker.dk">daniel@snooker.dk</a>)</p>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Bekræft password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Opret bruger", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>