<% provide(:title, @tournament.name) %>

<h3>Information</h3>
<% if @tournament.alternate_club %>
	<p>Ekstra spillested tages i brug ved mere end 28 tilmeldte. Opdelingen foregår udelukkende efter seedning.
<% end %>
<p>Reglementet kan <%= link_to "ses her", "http://snooker.dk/reglement", :target => "_blank" %></p>
<table class="info">
    <tr>
        <td width="350">
            <p>
                <b>Spillested:</b> <%= link_to @tournament.club.name, @tournament.club %><br/>
                
                <% if @tournament.alternate_club %>
                	<b>Ekstra spillested:</b> <%= link_to @tournament.alternate_club.name, @tournament.alternate_club %>
                	
                <% else %>
                	Intet ekstra spillested
                <% end %>   <br/>  
                <b>Pris:</b> 125 kr. (betales igennem din klub)                   
            </p>
        </td>
        <td width="350">
            <p>                       
                <b>Tilmeldingsfrist:</b> <i><%= @tournament.deadline %></i> <br/>
                <b>Indledende runde:</b> <%= @tournament.start_date %><br/>
                <b>Finalerunde:</b> <%= @tournament.final_date %> <br/>           
                        
            </p> 
        </td>
    </tr>
</table>



<%= if @tournament.finished == 0 
		render 'active_tournament' 
	else 
		render 'finished_tournament'
	end
%>

