<% player = info[:player]
   tournaments = info[:tournaments]
   %>
<tr>
  <td>
    <% if player.last_position > 0 %>
    <% if player.position < player.last_position %>
      <%= image_tag("up-20.png", alt: "Up", 
        title: "Sidste placering: #{player.last_position}") %>
    <% elsif player.position > player.last_position %>
      <%= image_tag("down-20.png", alt: "Down", 
        title: "Sidste placering: #{player.last_position}") %>
    <% else %>
      <%= image_tag("none-20.png", alt: "None", 
        title: "Ingen ændring") %>
    <% end %>
    <% else %>
      <%= image_tag("up-20.png", alt: "Up", 
        title: "Ny på listen") %>
    <% end %>
  </td> 
  <td><%= player.position %></td>
   <td><%= link_to(player.name, player) %></td>
  	<td><%= link_to(player.club.name, player.club) %></td>
    <% tournaments.each do |tour| %>
      <% p = tour.enter.find_by(:player_id => player.id)
        points = '-'
        if p
          points = p.points
          if !points
            points = '-'
          end
        end
          %>
      <td align="center" style="text-align: center;"><%= points %></td>
    <% end %>
  	<td><strong><%= player.ranking_points %></strong></td>
   
</tr>