<% provide(:title, 'Profil') %>
<h1><%= @player.name %></h1>
<script src="Chart.js"></script>


<p><strong>Navn: </strong><%= @player.name %></p>
<p><strong>Klub: </strong><%= link_to(@player.club.name, @player.club) %></p>
<p><strong>Rangliste placering:</strong> <%= @player.position %></p>

<% if (signed_in? && current_user.is_valid? && current_user?(@player.user)) || is_admin?(current_user) %>
	<p><%= link_to 'Opdater oplysninger', edit_player_path(:id => @player.id), class: "btn" %></p>
<% end %>

<% if @player.profile %>
	<%= render 'profile', :profile => @player.profile %>
 <% end %>



<% if @player.high_break.count > 0 %>
	<p>
		<strong>Breaks:</strong>
		<% @player.high_break.order('break desc').each_with_index do |b,i| %>
			<% if i > 0 %>
			,
			<% end %>
			<%= link_to b.break, b.tournament %>
		<% end %>
	</p>
<% end %>

<% if (signed_in? && current_user.is_valid? && current_user?(@player.user)) || is_admin?(current_user)
	if @player.profile %>
		<p><%= link_to 'Opdater spillerprofil', edit_profile_path(:id => @player.profile.id), class: "btn" %></p>
	<% else %>
		<p>Fortæl lidt om dig selv ved at udfylde en spillerprofil.</p>
		<p><%= link_to 'Udfyld spillerprofil', new_profile_path(:player_id => @player.id), class: "btn btn-large btn-primary" %></p>
<% end 
end
%>

<% if @tournaments_played.count > 0 %>
	<h2>Turneringer (<%= @tournaments_played.count %>)</h2>
<table class="table table-striped table-condensed table-bordered">
<thead>
	<tr>	
		<th width="20px">#</th>		
		<th>Navn</th>
		<th>Placering</th>	
		
	</tr>
	</thead>
	<tbody>
	<% numbers = [] %>
	<% @tournaments_played.each_with_index do |e, i| %>
	<tr>
		<% numbers.push(i+1) %>
		<td><%= (i + 1).to_s %>.</td>
		<td><%= link_to e.tournament.name, e.tournament %></td>
		<td><%= get_rank(e.rank) %></td>

		
	</tr>
	<% end %>
	</tbody>
</table>
<% end %>
<br>
<h3>Form, placering</h3>

<table>
	<tr>
		<td>
			<%= image_tag('chart_rank_grey.png') %>	
		</td>
		<td>
			<canvas id="canvas" width="600" height="400"></canvas>
		</td>
	</tr>
</table>

<h3>Form, point</h3>
<canvas id="pointCanvas" width="600" height="400"></canvas>


<%= javascript_tag do %>
	 var lineChartData = {
                        labels : <%= numbers.reverse %>,
                        datasets : [                               
                                {
                                        fillColor : "rgba(151,187,205,0.5)",
                                        strokeColor : "rgba(151,187,205,1)",
                                        pointColor : "rgba(151,187,205,1)",
                                        pointStrokeColor : "#fff",
                                        data : <%= @player.enter.map { |p| -p.rank } %>,
                                    //	data: [-3, -3, -3, -3, -3 ,-5, -5, -5,-4,-4,-3,-3,-3,-1,-2]
                                }
                        ],

                }

        var pointsChartData = {
                        labels : <%= numbers.reverse %>,
                        datasets : [                               
                                {
                                        fillColor : "rgba(151,187,205,0.5)",
                                        strokeColor : "rgba(151,187,205,1)",
                                        pointColor : "rgba(151,187,205,1)",
                                        pointStrokeColor : "#fff",
                                        data : <%= @player.enter.map { |p| p.points } %>,
                                    
                                }
                        ],

                }

        var lineOptions = {
    		scaleOverride: true,
    		scaleSteps: 10,
    		scaleStepWidth: 1,
    		scaleStartValue: -10,
    		scaleShowLabels : false
    		
};       

		var pointOptions = {
    		scaleOverride: true,
    		scaleSteps: 15,
    		scaleStepWidth: 1000,
    		scaleStartValue: 0,
    		scaleShowLabels : true
    		
};       
        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData, lineOptions);

        var pointLine = new Chart(document.getElementById("pointCanvas").getContext("2d")).Line(pointsChartData);
<% end %>

