<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to yield(:title), root_path, id: "logo" %>
      <nav>
        <ul class="nav">          
          <li><%= link_to "Rangliste", players_path %></li>
          <li><%= link_to "Breaks", breaks_path %></li>
          <li><%= link_to "Turneringer", tournaments_path %></li>
          <% if signed_in? %>
            
            <% if is_admin?(current_user) %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Brugere", admin_users_path %></li>
                <li><%= link_to "Spillere", admin_players_path %></li>
                <li><%= link_to "Turneringer", admin_tournaments_path %></li>
                <li><%= link_to "Klubber", admin_clubs_path %></li>                
              </ul>
            </li>
              
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log ind", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>